crm/crm/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleados" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerCobrador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCobrador" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerCobrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCobradorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEmpleados" message="tns:IService1_ObtenerEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEmpleadosResponse" message="tns:IService1_ObtenerEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCobrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerCobrador" message="tns:IService1_ObtenerCobrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerCobradorResponse" message="tns:IService1_ObtenerCobrador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEmpleados">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCobrador">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerCobrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebServiceHRM/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>